.textContent {
  width: 100%;
  background: #1c5bff;
  display: flex;
  margin-top: 0;
}

.firstColAlphabets,
.secondColAlphabets,
.thirdColAlphabets,
.fourthColAlphabets,
.fifthColAlphabets,
.sixthColAlphabets {
  width: 100vw;
  justify-content: space-around;
}

.fourthColAlphabets {
  display: flex;
  flex-direction: column;
}

.alphabet_a,
.alphabet_m,
.alphabet_l,
.alphabet_o,
.alphabet_t,
.alphabet_i,
.alphabet_n {
  font-size: 104px;
}

.alphabet_i-bottom {
  margin-top: 120px;
  font-size: 104px;
}

.rect_img {
  margin-top: 132px;
  margin-bottom: 33px;
}
